# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store
.vscode
vsxmake2019
vsxmake2022

# CMake Cache
CMakeBuild/

# Bazel build
bazel-*
MODULE.bazel.lock

# JetBrains IDEs
.idea/  

.vs/

.cache

compile_commands.json

# //external is reserved by Bazel and needed for hedron_compile_commands
external/

presubmit.yml
